.clay-button {
  padding: 10px;
  border: none;
  background: #e0e0e0;
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* 이미지와 텍스트 사이의 간격 */
  transition: box-shadow 0.3s ease-in-out;
}

.clay-button:hover {
  box-shadow:
    inset 5px 5px 10px #bebebe,
    inset -5px -5px 10px #ffffff;
}

.button-image {
  width: 60px;
  height: auto;
}
